@import "./variables.less";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
  color: var(--van-text-color);
  background-color: var(--color-background-2);
  --van-popup-round-radius: 4px;
  touch-action: manipulation;
  overscroll-behavior: contain;
}
* {
  -webkit-touch-action: manipulation;
  -webkit-touch-callout: none;
}
html {
  box-sizing: border-box;
}

#app {
  height: 100%;
  touch-action: manipulation;
  overscroll-behavior: contain;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
